@import "std";
@import "logo";
$height-init: 50%;

#splash-logo {
    @include std-vlcentered($logo-width, $logo-height, $hinit: $height-init);
    @include logo;
}

#splash-motto {
    $width: 200px;
    @include std-vlcentered($width, 50px, $hinit: $height-init, $hoffs: $logo-height + 10px);
    @include stdtext;

    text: {
        align:center;
    }
}

ul#splash-opts {
    $width: 200px;
    @include std-vlcentered($width, 50px, $hinit: 100%, $hoffs: -(90px));

    padding: 0px;
    text-align:center;
    list-style: none;
    li {
        display: inline;
        padding: 10px;
    }
}

ul#splash-footer {
    @include std-vlcentered($stdwidth, 50px, $hinit: 100%, $hoffs: -40px);
    @include stdfooter;

    padding: 0px;
    text-align:center;
    list-style: none;
    li {
        display: inline;
        padding: 3px;
    }
}

