/*
 * _std.scss
 * Handles main standards of page, i.e., main body width, etc.
 */

$stdcolor: #5F5C63;
$stdfadedcolor: #9A95A1;
$stdwidth: 800px;
$stdbgcolor: #E0E0E0;

@mixin stdbody {
    width: $stdwidth;
    padding: 0;
    margin: 0;
    color: $stdcolor;
    background-color: $stdbgcolor;
    font: {
        family: helvetica, arial;
        size: 13px;
    }
    a {
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px dotted;
        color: $stdcolor;
        &:hover { background-color: #fff; }
    }
}

@mixin stdtext {
    text: {
        shadow: 0 -1px 0px #FFF;
    }
}

@mixin stdfooter {
    color: $stdfadedcolor;
    text: {
        shadow: 0 -1px 0px #FFF;
    }
    font: {
        size: 10px;
    }
}

@mixin std-vlcentered($width, $height, $winit: 50%, $hinit: 50%, $woffs: 0px, $hoffs: 0px) {
    position: fixed;
    top: $hinit;
    left: $winit;
    width: $width;
    height: $height;

    margin: {
        left: -(0.5 * $width) + $woffs;
        right: -(0.5 * $height);
        top: $hoffs;
    }
}
