<div id="splash-logo">
    anglic
</div>

<div id="splash-motto">
    <i>Fast</i> language learning.
</div>

<div id="splash-message">
    <a href="">Try Chinese?</a>
</div>

<ul id="splash-footer">
    <li>anglic team</li>
    <li> + </li>
    <li><a href="">about</a></li>
    <li> | </li>
    <li><a href="">follow</a></li>
</ul>
