<div id="splash-logo">
    anglic
</div>

<div id="splash-motto">
    <i>Fast</i> language learning.
</div>

<div id="splash-message">
    <%= link_to 'Try Chinese?', '' %>
</div>

<ul id="splash-footer">
    <li>anglic team</li>
    <li> + </li>
    <li><%= link_to 'about', {:controller => 'about', :action => 'index'} %></li>
    <li> | </li>
    <li><%= link_to 'follow', '' %></li>
</ul>
