<div id="splash-header">
    Want in on the beta? <%= link_to 'Try Chinese.', '' %>
</div>

<div id="splash-logo">
    anglic
</div>

<div id="splash-motto">
    <b><i>Fast</i></b> language learning.
</div>

<ul id="splash-footer">
    <li>anglic team</li>
    <li> + </li>
    <li><%= link_to 'about', {:controller => 'about', :action => 'index'} %></li>
    <li> | </li>
    <li><%= link_to 'writing', '' %></li>
</ul>
